# Exploring Netflix: A Journey into Recommendation Systems

Welcome to my notebook, where I dive into the fascinating world of recommendation systems using Netflix data! üé¨üçø

This notebook is not just about data analysis; it's a thrilling adventure through the realms of machine learning and artificial intelligence, all in the context of everyone's favorite streaming platform.

As I navigate through the dataset, my goal is to uncover hidden patterns, reveal interesting insights, and ultimately build a content recommendation engine that rivals Netflix's own! Join me on this exciting journey as we explore the magic behind personalized recommendations.

So grab your popcorn, sit back, and let's embark on this adventure together! Who knows, by the end of this notebook, you might just discover your next favorite show. üòâ

Let's get started!

## 1. Import

In [33]:
import pandas as pd
import random
import re

## 2. Dataset

In [11]:
netflix_data = pd.read_csv('./Content-Based Recommendation System/netflix_titles.csv')

In [12]:
netflix_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

## 3. Determine the user's last activity

The dataset actually contains data about films on Netflix, but for this scenario a random film will be taken which will be used as the last activity of the user.

In [24]:
last_activity = netflix_data.iloc[[random.randint(0, len(netflix_data) - 1)]]
last_activity

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4325,80082739,Movie,Fifty,Biyi Bandele,"Dakore Akande, Ireti Doyle, Nse Ikpe-Etim, Omo...",Nigeria,"December 28, 2015",2015,NR,101 min,"Dramas, International Movies","In Lagos, Nigeria, four successful women on th..."

## 4. Make content-based recommendations

In [25]:
ref_type = last_activity['type'].values[0]
ref_release_year = last_activity['release_year'].values[0]
ref_rating = last_activity['rating'].values[0]

print('Tipe film dari last activity:', ref_type)
print('Release year film dari last activity :', ref_release_year)
print('Rating film dari last activity       :', ref_rating)

Tipe film dari last activity: Movie
Release year film dari last activity : 2015
Rating film dari last activity       : NR

Next, look for other film data that has the **same characters** from the `last_activity` film

In [26]:
# Checks whether the movie type is the same as the movie type reference in last_activity
cond_type = (netflix_data['type'] == ref_type)
cond_release_year = (netflix_data['release_year'] == ref_release_year)   # Ganti titik-titik dengan nama kolom & variabel yang sesuai
cond_rating = (netflix_data['rating'] == ref_rating)

- If the answer is `True`, it means the film type is the same as the reference film type.

In [27]:
recommend_data = netflix_data[cond_type & cond_release_year & cond_rating]

recommend_data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
19,80057969,Movie,Love,Gaspar No√©,"Karl Glusman, Klara Kristin, Aomi Muyock, Ugo ...","France, Belgium","September 8, 2017",2015,NR,135 min,"Cult Movies, Dramas, Independent Movies",A man in an unsatisfying marriage recalls the ...
25,80045922,Movie,6 Years,Hannah Fidell,"Taissa Farmiga, Ben Rosenfield, Lindsay Burdge...",United States,"September 8, 2015",2015,NR,80 min,"Dramas, Independent Movies, Romantic Movies",As a volatile young couple who have been toget...
212,80045805,Movie,Raiders!: The Story of the Greatest Fan Film E...,"Jeremy Coon, Tim Skousen",NaN,United States,"September 16, 2016",2015,NR,93 min,Documentaries,Three childhood friends attempt to finish the ...
400,80106140,Movie,A Noble Intention,Joram L√ºrsen,"Gijs Scholten van Aschat, Jacob Derwig, Rifka ...",Netherlands,"September 1, 2016",2015,NR,111 min,"Dramas, International Movies","In 1888 Amsterdam, a headstrong violin maker f..."
426,80031666,Movie,Winter on Fire: Ukraine's Fight for Freedom,Evgeny Afineevsky,NaN,"United Kingdom, Ukraine, United States","October 9, 2015",2015,NR,99 min,"Documentaries, International Movies","Over 93 days in Ukraine, what started as peace..."
513,80045783,Movie,Manson Family Vacation,J. Davis,"Jay Duplass, Linas Phillips, Leonora Pitts, Ad...",United States,"October 27, 2015",2015,NR,85 min,"Comedies, Dramas, Independent Movies",The pleasant family life of an L.A. attorney i...
682,80044545,Movie,Beasts of No Nation,Cary Joji Fukunaga,"Idris Elba, Abraham Attah, Kurt Egyiawan, Jude...",United States,"October 16, 2015",2015,NR,137 min,"Dramas, Independent Movies","When civil war tears his family apart, a young..."
683,80070182,Movie,Circle,"Aaron Hann, Mario Miscione","Julie Benz, Mercy Malick, Carter Jenkins, Moll...",United States,"October 16, 2015",2015,NR,86 min,"Dramas, Independent Movies, Sci-Fi & Fantasy",When a group of strangers is seized and awaits...
729,80075009,Movie,Suburra,Stefano Sollima,"Pierfrancesco Favino, Elio Germano, Claudio Am...","Italy, France","October 14, 2015",2015,NR,135 min,"Dramas, International Movies, Thrillers",A grueling battle over turning a seaside town ...
862,80048200,Movie,Fishtail,Andrew Renzi,Harry Dean Stanton,United States,"October 1, 2018",2015,NR,61 min,Documentaries,Harry Dean Stanton narrates this documentary t...
969,80094453,Movie,Chat√¥: The King of Brazil,Guilherme Fontes,"Marco Ricca, Andrea Beltr√£o, Let√≠cia Sabatella...",Brazil,"October 1, 2016",2015,NR,105 min,"Dramas, International Movies",The romanticized life of media mogul Assis Cha...
1236,80079470,Movie,Naomi and Ely's No Kiss List,Kristin Hanggi,"Victoria Justice, Pierson Fode, Matthew Daddar...",United States,"November 18, 2015",2015,NR,91 min,"Comedies, Dramas, LGBTQ Movies","Naomi and her gay best friend, Ely, have been ..."
1535,80093212,Movie,Spanish Affair 2,Emilio Mart√≠nez L√°zaro,"Dani Rovira, Clara Lago, Karra Elejalde, Carme...",Spain,"November 1, 2016",2015,NR,107 min,"Comedies, International Movies, Romantic Movies",Spanish provincialism is put into the spotligh...
1566,80059440,Movie,The Chosen Ones,David Pablos,"Nancy Talamantes, √ìscar Torres, Leidi Guti√©rre...","Mexico, France","May 8, 2016",2015,NR,107 min,"Dramas, Independent Movies, International Movies","Young Ulises falls in love with teen Sofia, ev..."
1589,80087897,Movie,4th Man Out,Andrew Nackman,"Evan Todd, Parker Young, Chord Overstreet, Jon...",United States,"May 5, 2016",2015,NR,86 min,"Comedies, LGBTQ Movies",A young mechanic comes out to his extremely st...
1635,80038162,Movie,Hot Girls Wanted,"Jill Bauer, Ronna Gradus",NaN,United States,"May 29, 2015",2015,NR,83 min,Documentaries,This 2015 Sundance Film Festival breakout docu...
1934,80095233,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,NR,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
1976,80011848,Movie,My Own Man,David Sampliner,David Sampliner,United States,"March 6, 2015",2015,NR,82 min,Documentaries,When a man discovers he will be the father to ...
2425,80092850,Movie,It's Now or Never,Maria Ripoll,"Dani Rovira, Mar√≠a Valverde, Jordi S√°nchez, Jo...",Spain,"March 1, 2016",2015,NR,91 min,"Comedies, International Movies, Romantic Movies","When Eva and Alex decide to wed in England, wh..."
2426,80093127,Movie,Retribution,Dani de la Torre,"Luis Tosar, Javier Guti√©rrez, Elvira M√≠nguez, ...",Spain,"March 1, 2016",2015,NR,100 min,"International Movies, Thrillers",A dishonest banker pays the ultimate price for...
2492,80039644,Movie,(T)ERROR,"Lyric R. Cabral, David Felix Sutcliffe",NaN,United States,"June 30, 2016",2015,NR,84 min,Documentaries,This real-life look at FBI counterterrorism op...
2511,80015210,Movie,Ralphie May: Imperfectly Yours,Anthony Pierce,Ralphie May,United States,"June 29, 2015",2015,NR,69 min,Stand-Up Comedy,Comedian Ralphie May takes to the Las Vegas st...
2539,70308063,Movie,"What Happened, Miss Simone?",Liz Garbus,NaN,United States,"June 26, 2015",2015,NR,103 min,"Documentaries, Music & Musicals","Using never-before-heard recordings, rare arch..."
2563,80038420,Movie,Advantageous,Jennifer Phang,"Jacqueline Kim, James Urbaniak, Freya Adams, K...",United States,"June 23, 2015",2015,NR,92 min,"Dramas, Independent Movies, Sci-Fi & Fantasy",In order to keep her job at a biomedical engin...
2765,80103623,Movie,The Heroes of Evil,Zoe Berriat√∫a,"Emilio Palacios, Jorge Clemente, Beatriz Medin...",Spain,"June 1, 2016",2015,NR,99 min,"Dramas, International Movies","Three teenage misfits find camaraderie in sex,..."
2771,80048977,Movie,The Invitation,Karyn Kusama,"Logan Marshall-Green, Emayatzy Corinealdi, Aid...",United States,"July 8, 2016",2015,NR,100 min,"Horror Movies, Independent Movies, Thrillers",A man accepts an invitation to a dinner party ...
2977,80106928,Movie,Lusers,Ticoy Rodriguez,"Carlos Alc√°ntara, Pablo Granados, Felipe Izqui...","Argentina, Chile, Peru","July 15, 2016",2015,NR,100 min,"Comedies, International Movies, Sports Movies",Three men from different nations must find the...
3030,80106989,Movie,Summer of '92,Kasper Barfoed,"Ulrich Thomsen, Henning Jensen, Mikkel Boe F√∏l...","Denmark, United Kingdom","July 10, 2016",2015,NR,94 min,"Dramas, International Movies, Sports Movies",When a quirk of fate kicks the Danish national...
3171,80053140,Movie,King Jack,Felix Thompson,"Charlie Plummer, Cory Nichols, Christian Madse...",United States,"July 1, 2016",2015,NR,81 min,"Dramas, Independent Movies","Already coping with a bully, a mercurial older..."
3174,80105672,Movie,Road to Yesterday,Ishaya Bako,"Genevieve Nnaji, Oris Erhuero, Majid Michel",Nigeria,"July 1, 2016",2015,NR,96 min,"Dramas, International Movies","Their marriage failing, Victoria and Izu try t..."
3178,80108386,Movie,X: Past Is Present,"Hemant Gaba, Pratim D. Gupta, Sudhish Kamath, ...","Anshuman Jha, Rajat Kapoor, Pooja Ruparel, Pia...",India,"July 1, 2016",2015,NR,105 min,"Dramas, Independent Movies, International Movies",When a middle-aged filmmaker meets an alluring...
3179,80085300,Movie,You Carry Me,Ivona Juka,"Lana Baric, Vojislav Brajovic, Natasa Janjic, ...","Croatia, Slovenia, Serbia, Montenegro","July 1, 2016",2015,NR,157 min,"Dramas, International Movies","A soap opera producer, director and makeup art..."
3238,80081958,Movie,Semana Santa,Alejandra M√°rquez Abella,"Tenoch Huerta, Anajos√© Aldrete, Esteban √Åvila,...",Mexico,"January 31, 2017",2015,NR,87 min,"Dramas, International Movies","A single mother, her boyfriend and her 8-year-..."
3421,80128690,Movie,The Similars,Isaac Ezban,"Gustavo S√°nchez Parra, Cassandra Ciangherotti,...",Mexico,"January 15, 2017",2015,NR,90 min,"Horror Movies, Independent Movies, Internation...",Stranded in a transit station one stormy night...
3712,80036832,Movie,How to Change the World,Jerry Rothwell,NaN,"Canada, United Kingdom, Netherlands","January 1, 2016",2015,NR,110 min,"Documentaries, International Movies","In the 1970s, a group of activists who gathere..."
3789,80065220,Movie,French Dirty,"Wade Allain-Marcus, Jesse Allain-Marcus","Wade Allain-Marcus, Arjun Gupta, Melina Lizett...",United States,"February 4, 2016",2015,NR,72 min,"Dramas, Independent Movies","An aimless, unemployed millennial hangs out wi..."
3830,80119235,Movie,Jonas,L√¥ Politi,"Jesu√≠ta Barbosa, Laura Neiva, Criolo, Ana Cec√≠...",Brazil,"February 26, 2017",2015,NR,97 min,"Dramas, International Movies","During Carnival, two teens from different clas..."
3972,80082749,Movie,A Heavy Heart,Thomas Stuber,"Peter Kurth, Lena Lauzemis, Lina Wendel, Edin ...",Germany,"February 15, 2017",2015,NR,109 min,"Dramas, Independent Movies, International Movies","Long past his heyday, a still-virile boxer tri..."
3979,80157565,Movie,The Memory of Water,Mat√≠as Bize,"Elena Anaya, Benjam√≠n Vicu√±a, N√©stor Cantillan...","Chile, Spain, Argentina, Germany","February 15, 2017",2015,NR,88 min,"Dramas, International Movies",When the accidental death of a couple's young ...
3994,80038290,Movie,Virunga: Gorillas in Peril,NaN,NaN,United States,"February 13, 2015",2015,NR,29 min,Documentaries,The team behind the searing documentary reveal...
4070,80095530,Movie,Haraamkhor,Shlok Sharma,"Nawazuddin Siddiqui, Shweta Tripathi, Harish K...",India,"February 1, 2017",2015,NR,93 min,"Dramas, Independent Movies, International Movies","A selfish, manipulative schoolteacher takes ad..."
4073,80154179,Movie,I Am Sun Mu,Adam Sj√∂berg,NaN,"China, South Korea, United States","February 1, 2017",2015,NR,88 min,"Documentaries, International Movies",A North Korean propagandist who escaped to Seo...
4302,80044536,Movie,Diary of a Chambermaid,Beno√Æt Jacquot,"L√©a Seydoux, Vincent Lindon, Clotilde Mollet, ...","France, Belgium","December 3, 2016",2015,NR,96 min,"Dramas, International Movies",An attractive young woman goes to work as a ch...
4325,80082739,Movie,Fifty,Biyi Bandele,"Dakore Akande, Ireti Doyle, Nse Ikpe-Etim, Omo...",Nigeria,"December 28, 2015",2015,NR,101 min,"Dramas, International Movies","In Lagos, Nigeria, four successful women on th..."
4422,80142140,Movie,Daemonium,Pablo Par√©s,"Walter Corn√°s, Dany Casco, Caro Angus, Roc√≠o R...",Argentina,"December 20, 2016",2015,NR,115 min,"Action & Adventure, Horror Movies, Internation...",In a realm where magic and technology intersec...
4551,80093295,Movie,3 T√ºrken & ein Baby,Sinan Akku≈ü,"Kostja Ullmann, Eko Fresh, Kida Khodr Ramadan,...",Germany,"December 15, 2016",2015,NR,93 min,"Comedies, International Movies",The lives of three dissatisfied brothers runni...
4567,80093812,Movie,Zoom,Pedro Morelli,"Gael Garc√≠a Bernal, Alison Pill, Mariana Ximen...","Brazil, Canada","December 15, 2016",2015,NR,93 min,"Comedies, Dramas, Independent Movies",Comic book artist Emma draws her ideal man: Ed...
4569,80092409,Movie,This Was Tomorrow,Wim Bonte,NaN,Belgium,"December 15, 2015",2015,NR,77 min,"Documentaries, International Movies, Music & M...",The Tomorrowland music festival marks its 10th...
4702,80118982,Movie,Asu Mare 2,Ricardo Maldonado,"Carlos Alc√°ntara, Emilia Drago, Christian Meie...",Peru,"December 1, 2016",2015,NR,100 min,"Comedies, International Movies",To win the heart of his true love ‚Äì a high-soc...
5033,80100772,Movie,13 Cameras,Victor Zarcoff,"PJ McCabe, Brianne Moncrief, Sarah Baldwin, Ji...",United States,"August 13, 2016",2015,NR,90 min,"Horror Movies, Independent Movies, Thrillers",Young parents-to-be Claire and Ryan move into ...
5165,80104552,Movie,Holding the Man,Neil Armfield,"Ryan Corr, Craig Stott, Kerry Fox, Camilla Ah ...",Australia,"August 1, 2016",2015,NR,128 min,"Dramas, International Movies, LGBTQ Movies","In 1970s Australia, two teen boys fall in love..."
5181,80094357,Movie,Look Who's Back,David Wnendt,"Oliver Masucci, Fabian Busch, Christoph Maria ...",Germany,"April 9, 2016",2015,NR,116 min,"Comedies, International Movies",When Adolf Hitler reawakens at the site of his...
5426,80064273,Movie,Band of Robbers,"Aaron Nee, Adam Nee","Kyle Gallner, Adam Nee, Matthew Gray Gubler, M...",United States,"April 15, 2016",2015,NR,95 min,"Action & Adventure, Comedies, Independent Movies","Recast as modern-day men, Tom Sawyer and Huck ..."
5428,80058247,Movie,Prescription Thugs,"Chris Bell, Josh Alexander, Greg Young",Chris Bell,United States,"April 15, 2016",2015,NR,86 min,Documentaries,A documentarian uses his own family's experien...

## 5. Making the function

- Finally, make everything into a function with the name `get_recommend_content_based`
- There are 2 inputs
   - `index` which contains the index of the user's last activity
   - `netflix_data` which contains all user activity data
- The output is 1
   - `recommend_data` which contains recommended movie data based on user activity

In [28]:
def get_recommend_content_based(index, netflix_data):
    # 1. Search for last_activity data based on index
    last_activity = netflix_data.iloc[[index]]

    print('LAST ACTIVITY')
    print('='*20)
    print(last_activity.loc[index])
    print('')

    # 2. Extract the profile of the film the user watched in the last activity
    ref_type = last_activity['type'].values[0]
    ref_release_year = last_activity['release_year'].values[0]
    ref_rating = last_activity['rating'].values[0]

    # 3. Filter the data based on the characters from the last activity
    recommend_data = netflix_data[cond_type & cond_release_year & cond_rating].head(10)

    # 4. Take recommend_data out of the function
    return recommend_data

In [29]:
recommend_data = get_recommend_content_based(index = 208,
                                             netflix_data = netflix_data)

print('RECCOMENDATION')
print('='*20)
recommend_data

LAST ACTIVITY
====================
show_id                                                  70117312
type                                                        Movie
title                                 Scott Pilgrim vs. the World
director                                             Edgar Wright
cast            Michael Cera, Mary Elizabeth Winstead, Kieran ...
country              United States, United Kingdom, Canada, Japan
date_added                                     September 16, 2018
release_year                                                 2010
rating                                                      PG-13
duration                                                  112 min
listed_in               Action & Adventure, Comedies, Cult Movies
description     Dreamy delivery girl Ramona captures Scott Pil...
Name: 208, dtype: object

RECCOMENDATION
====================

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
19,80057969,Movie,Love,Gaspar No√©,"Karl Glusman, Klara Kristin, Aomi Muyock, Ugo ...","France, Belgium","September 8, 2017",2015,NR,135 min,"Cult Movies, Dramas, Independent Movies",A man in an unsatisfying marriage recalls the ...
25,80045922,Movie,6 Years,Hannah Fidell,"Taissa Farmiga, Ben Rosenfield, Lindsay Burdge...",United States,"September 8, 2015",2015,NR,80 min,"Dramas, Independent Movies, Romantic Movies",As a volatile young couple who have been toget...
212,80045805,Movie,Raiders!: The Story of the Greatest Fan Film E...,"Jeremy Coon, Tim Skousen",NaN,United States,"September 16, 2016",2015,NR,93 min,Documentaries,Three childhood friends attempt to finish the ...
400,80106140,Movie,A Noble Intention,Joram L√ºrsen,"Gijs Scholten van Aschat, Jacob Derwig, Rifka ...",Netherlands,"September 1, 2016",2015,NR,111 min,"Dramas, International Movies","In 1888 Amsterdam, a headstrong violin maker f..."
426,80031666,Movie,Winter on Fire: Ukraine's Fight for Freedom,Evgeny Afineevsky,NaN,"United Kingdom, Ukraine, United States","October 9, 2015",2015,NR,99 min,"Documentaries, International Movies","Over 93 days in Ukraine, what started as peace..."
513,80045783,Movie,Manson Family Vacation,J. Davis,"Jay Duplass, Linas Phillips, Leonora Pitts, Ad...",United States,"October 27, 2015",2015,NR,85 min,"Comedies, Dramas, Independent Movies",The pleasant family life of an L.A. attorney i...
682,80044545,Movie,Beasts of No Nation,Cary Joji Fukunaga,"Idris Elba, Abraham Attah, Kurt Egyiawan, Jude...",United States,"October 16, 2015",2015,NR,137 min,"Dramas, Independent Movies","When civil war tears his family apart, a young..."
683,80070182,Movie,Circle,"Aaron Hann, Mario Miscione","Julie Benz, Mercy Malick, Carter Jenkins, Moll...",United States,"October 16, 2015",2015,NR,86 min,"Dramas, Independent Movies, Sci-Fi & Fantasy",When a group of strangers is seized and awaits...
729,80075009,Movie,Suburra,Stefano Sollima,"Pierfrancesco Favino, Elio Germano, Claudio Am...","Italy, France","October 14, 2015",2015,NR,135 min,"Dramas, International Movies, Thrillers",A grueling battle over turning a seaside town ...
862,80048200,Movie,Fishtail,Andrew Renzi,Harry Dean Stanton,United States,"October 1, 2018",2015,NR,61 min,Documentaries,Harry Dean Stanton narrates this documentary t...

## 6. Improve recommendations with TF-IDF Vectorizer

- The characters/profiles extracted in the previous task are not complex.
- There are still other characters such as `title`, `director`, `cast`, `country`, `listed_in`, and `description`
- However, the data is in non-numerical form (text)
- Can be processed by looking for any words that appear there, and comparing them.
- Processing to convert sentences into word vectors can be done with the TF-IDF transformation

In [30]:
netflix_data.iloc[[842]]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
842,60034571,Movie,Troy,Wolfgang Petersen,"Brad Pitt, Eric Bana, Orlando Bloom, Diane Kru...","United States, Malta, United Kingdom","October 1, 2019",2004,R,163 min,"Action & Adventure, Dramas",The love-struck Prince Paris of Troy kidnaps b...

### 6.1 Clean the data first

Before performing TF-IDF, the data must be cleaned first.
- capital letters & not
- combination of commas or periods
- there are numbers and there are not

In [37]:
def normalize_col(data):
    # Use regular expression to remove non-alphabetic characters and convert to lowercase
    return re.sub(r'[^a-zA-Z\s]', '', str(data)).lower()

# Fix column
netflix_data_clean = netflix_data.copy()
columns_to_normalize = ['listed_in', 'cast', 'description', 'title']
for col in columns_to_normalize:
    netflix_data_clean[col] = netflix_data[col].apply(normalize_col)

In [38]:
netflix_data_clean.iloc[[842]]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
842,60034571,Movie,troy,Wolfgang Petersen,brad pitt eric bana orlando bloom diane kruger...,"United States, Malta, United Kingdom","October 1, 2019",2004,R,163 min,action adventure dramas,the lovestruck prince paris of troy kidnaps be...

In [39]:
# Then we combine all the information listed_in, cast, description, and title
# into a new column with the name 'combined'
netflix_data['combined'] = netflix_data_clean['listed_in'].astype(str) + ' ' \
                                + netflix_data_clean['cast'].astype(str) + ' ' \
                                + netflix_data_clean['title'].astype(str) + ' ' \
                                + netflix_data_clean['description'].astype(str)

netflix_data.iloc[[842]]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,combined
842,60034571,Movie,Troy,Wolfgang Petersen,"Brad Pitt, Eric Bana, Orlando Bloom, Diane Kru...","United States, Malta, United Kingdom","October 1, 2019",2004,R,163 min,"Action & Adventure, Dramas",The love-struck Prince Paris of Troy kidnaps b...,action adventure dramas brad pitt eric bana o...

- Use `f-strings` for readability: Instead of using concatenation (+), you can use `f-strings` for better **readability** and potentially **better performance**.
- Join with a **separator**: To distinguish between the different columns when they're concatenated, you can use a separator to avoid words from different columns being considered as a single word.

### 6.2 Implement TF-IDF

<br>
<img src='https://miro.medium.com/v2/resize:fit:720/format:webp/0*y-flD_EXBtTKjSrd'> <br>
<a href='https://medium.com/data-folks-indonesia/bag-of-words-vs-tf-idf-penjelasan-dan-perbedaannya-3739f32cdc72'>Reference Medium Post</a>

- R1 to R3 describe the occurrence of words for each document/description.
- TF1 to TF3 are the TF-IDF values of each word

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Create a vectorizer object (which is responsible for transforming words into numbers)
vectorizer = TfidfVectorizer()
vectorizer.fit(netflix_data['combined'])

# Perform data transformation with the vectorizer
vectorizer.transform(netflix_data['combined'])

<6234x43052 sparse matrix of type '<class 'numpy.float64'>'
	with 253946 stored elements in Compressed Sparse Row format>

In [42]:
## vocabulary in the vectorizer
vectorizer.vocabulary_

{'children': 6990,
 'family': 12563,
 'movies': 25758,
 'comedies': 7731,
 'alan': 921,
 'marriott': 23761,
 'andrew': 1574,
 'toth': 39032,
 'brian': 5196,
 'dobson': 10325,
 'cole': 7626,
 'howard': 17191,
 'jennifer': 18936,
 'cameron': 5883,
 'jonathan': 19284,
 'holmes': 16956,
 'lee': 21839,
 'tockar': 38815,
 'lisa': 22279,
 'durupt': 10935,
 'maya': 24080,
 'kay': 20092,
 'michael': 24782,
 'norm': 27068,
 'of': 27427,
 'the': 38380,
 'north': 27085,
 'king': 20565,
 'sized': 35435,
 'adventure': 521,
 'before': 3707,
 'planning': 29497,
 'an': 1484,
 'awesome': 2781,
 'wedding': 41321,
 'for': 13395,
 'his': 16791,
 'grandfather': 15040,
 'polar': 29643,
 'bear': 3610,
 'must': 25998,
 'take': 37698,
 'back': 2974,
 'stolen': 36649,
 'artifact': 2259,
 'from': 13709,
 'evil': 12169,
 'archaeologist': 2011,
 'first': 13116,
 'standup': 36414,
 'comedy': 7732,
 'jandino': 18691,
 'asporaat': 2408,
 'whatever': 41488,
 'it': 18417,
 'takes': 37711,
 'riffs': 32076,
 'on': 27665,
 'challenges': 6559,
 'raising': 30853,
 'kids': 20468,
 'and': 1536,
 'serenades': 34241,
 'audience': 2610,
 'with': 41790,
 'rousing': 32593,
 'rendition': 31656,
 'sex': 34371,
 'fire': 13095,
 'in': 17804,
 'show': 34983,
 'tv': 39574,
 'peter': 29076,
 'cullen': 8668,
 'sumalee': 37085,
 'montano': 25496,
 'frank': 13560,
 'welker': 41386,
 'jeffrey': 18899,
 'combs': 7724,
 'kevin': 20329,
 'richardson': 32007,
 'tania': 37840,
 'gunadi': 15421,
 'josh': 19366,
 'keaton': 20141,
 'steve': 36577,
 'blum': 4593,
 'andy': 1582,
 'pessoa': 29062,
 'ernie': 11904,
 'hudson': 17268,
 'daran': 9012,
 'norris': 27079,
 'will': 41651,
 'friedle': 13669,
 'transformers': 39186,
 'prime': 30129,
 'help': 16413,
 'three': 38537,
 'human': 17303,
 'allies': 1156,
 'autobots': 2680,
 'once': 27669,
 'again': 615,
 'protect': 30307,
 'earth': 11035,
 'onslaught': 27720,
 'decepticons': 9253,
 'their': 38395,
 'leader': 21786,
 'megatron': 24439,
 'darren': 9058,
 'criss': 8520,
 'constance': 8008,
 'zimmer': 42912,
 'khary': 20377,
 'payton': 28784,
 'mitchell': 25200,
 'whitfield': 41538,
 'stuart': 36820,
 'allan': 1129,
 'ted': 38065,
 'mcginley': 24228,
 'robots': 32290,
 'disguise': 10157,
 'when': 41501,
 'prison': 30159,
 'ship': 34849,
 'crash': 8418,
 'unleashes': 39931,
 'hundreds': 17338,
 'bumblebee': 5520,
 'leads': 21790,
 'new': 26665,
 'autobot': 2679,
 'force': 13400,
 'to': 38797,
 'humankind': 17310,
 'nesta': 26624,
 'cooper': 8127,
 'kate': 20019,
 'walsh': 41111,
 'john': 19229,
 'higgins': 16627,
 'keith': 20195,
 'powers': 29903,
 'alicia': 1081,
 'sanz': 33363,
 'jake': 18638,
 'borelli': 4851,
 'kid': 20456,
 'ink': 18042,
 'yousef': 42545,
 'erakat': 11851,
 'rebekah': 31283,
 'graf': 15010,
 'anne': 1702,
 'winters': 41749,
 'gilroy': 14534,
 'patrick': 28687,
 'davis': 9125,
 'realityhigh': 31246,
 'nerdy': 26606,
 'high': 16629,
 'schooler': 33766,
 'dani': 8961,
 'finally': 13050,
 'attracts': 2595,
 'interest': 18152,
 'her': 16488,
 'longtime': 22518,
 'crush': 8610,
 'she': 34669,
 'lands': 21538,
 'cross': 8561,
 'hairs': 15652,
 'ex': 12189,
 'social': 35743,
 'media': 24390,
 'celebrity': 6400,
 'crime': 8495,
 'shows': 34996,
 'international': 18166,
 'spanishlanguage': 36094,
 'alberto': 956,
 'ammann': 1428,
 'eloy': 11442,
 'azorn': 2908,
 'vernica': 40538,
 'echegui': 11083,
 'luca': 22721,
 'jimnez': 19084,
 'claudia': 7396,
 'traisac': 39155,
 'apaches': 1850,
 'young': 42518,
 'journalist': 19386,
 'is': 18332,
 'forced': 13401,
 'into': 18204,
 'life': 22126,
 'save': 33571,
 'father': 12709,
 'this': 38479,
 'series': 34256,
 'based': 3447,
 'novel': 27143,
 'by': 5691,
 'miguel': 24871,
 'sez': 34403,
 'carral': 6150,
 'scifi': 33821,
 'fantasy': 12594,
 'thrillers': 38547,
 'antonio': 1789,
 'banderas': 3217,
 'dylan': 10993,
 'mcdermott': 24205,
 'melanie': 24481,
 'griffith': 15188,
 'birgitte': 4357,
 'hjort': 16847,
 'srensen': 36333,
 'robert': 32269,
 'forster': 13464,
 'christa': 7150,
 'campbell': 5898,
 'tim': 38686,
 'mcinnerny': 24251,
 'nyman': 27258,
 'david': 9113,
 'ryall': 32815,
 'automata': 2682,
 'dystopian': 11006,
 'future': 13870,
 'insurance': 18128,
 'adjuster': 441,
 'tech': 38049,
 'company': 7799,
 'investigates': 18238,
 'robot': 32283,
 'killed': 20511,
 'violating': 40757,
 'protocol': 30320,
 'discovers': 10138,
 'global': 14669,
 'conspiracy': 8002,
 'fabrizio': 12434,
 'copano': 8133,
 'solo': 35838,
 'pienso': 29278,
 'en': 11613,
 'mi': 24773,
 'participation': 28558,
 'next': 26698,
 'level': 22032,
 'set': 34296,
 'while': 41511,
 'reflecting': 31437,
 'sperm': 36172,
 'banks': 3254,
 'whatsapp': 41491,
 'groups': 15265,
 'more': 25570,
 'docuseries': 10341,
 'science': 33813,
 'nature': 26400,
 'nan': 26226,
 'chasers': 6736,
 'as': 2300,
 'californias': 5822,
 'season': 33925,
 'rages': 30775,
 'brave': 5103,
 'backcountry': 2976,
 'firefighters': 13099,
 'race': 30711,
 'put': 30511,
 'out': 27996,
 'flames': 13185,
 'homes': 16980,
 'lives': 22331,
 'action': 305,
 'james': 18663,
 'franco': 13557,
 'tom': 38868,
 'wilkinson': 41649,
 'omar': 27644,
 'sy': 37501,
 'sam': 33164,
 'spruell': 36287,
 'anna': 1691,
 'friel': 13673,
 'thomas': 38490,
 'arnold': 2187,
 'oliver': 27603,
 'dimsdale': 10033,
 'diana': 9902,
 'hardcastle': 15929,
 'jibson': 19056,
 'diarmaid': 9910,
 'murtagh': 25959,
 'good': 14858,
 'people': 28925,
 'struggling': 36812,
 'couple': 8327,
 'cant': 5967,
 'believe': 3782,
 'luck': 22744,
 'they': 38435,
 'find': 13057,
 'stash': 36461,
 'money': 25440,
 'apartment': 1860,
 'neighbor': 26559,
 'who': 41553,
 'was': 41214,
 'recently': 31317,
 'murdered': 25936,
 'joaqun': 19175,
 'reyes': 31940,
 'una': 39761,
 'no': 26960,
 'ms': 25784,
 'comedian': 7728,
 'impersonator': 17764,
 'decides': 9262,
 'be': 3594,
 'zesty': 42847,
 'self': 34066,
 'night': 26804,
 'stories': 36678,
 'about': 169,
 'buses': 5625,
 'bathroom': 3510,
 'habits': 15560,
 'royalty': 32627,
 'dramas': 10655,
 'jim': 19075,
 'sturgess': 36861,
 'worthington': 41970,
 'ryan': 32816,
 'kwanten': 21289,
 'anthony': 1758,
 'hopkins': 17058,
 'mark': 23709,
 'van': 40295,
 'eeuwen': 11173,
 'cocquerel': 7573,
 'jemima': 18914,
 'west': 41458,
 'dencik': 9526,
 'kidnapping': 20465,
 'mr': 25773,
 'heineken': 16363,
 'beer': 3700,
 'magnate': 23094,
 'alfred': 1055,
 'freddy': 13603,
 'kidnapped': 20463,
 'abductors': 110,
 'make': 23232,
 'largest': 21595,
 'ransom': 31042,
 'demand': 9473,
 'history': 16809,
 'damandeep': 8908,
 'singh': 35318,
 'baggan': 3050,
 'smita': 35630,
 'malhotra': 23308,
 'baba': 2934,
 'sehgal': 34015,
 'krish': 21056,
 'trish': 39338,
 'baltiboy': 3184,
 'team': 38035,
 'minstrels': 25070,
 'including': 17837,
 'monkey': 25466,
 'cat': 6280,
 'donkey': 10465,
 'narrate': 26299,
 'folktales': 13351,
 'indian': 17877,
 'regions': 31481,
 'rajasthan': 30865,
 'kerala': 20283,
 'punjab': 30452,
 'deepak': 9315,
 'chachra': 6487,
 'battle': 3524,
 'wits': 41801,
 'artisan': 2262,
 'cheated': 6811,
 'payment': 28779,
 'lion': 22254,
 'throne': 38554,
 'brother': 5342,
 'inheritance': 18016,
 'these': 38430,
 'deception': 9254,
 'justice': 19564,
 'best': 4037,
 'friends': 13678,
 'forever': 13429,
 'up': 40033,
 'friendship': 13679,
 'northeast': 27087,
 'india': 17875,
 'bihar': 4255,
 'comics': 7745,
 'comicstripstyle': 7747,
 'tales': 37746,
 'boy': 4988,
 'tries': 39307,
 'sell': 34109,
 'wisdom': 41766,
 'demon': 9501,
 'released': 31573,
 'captivity': 6020,
 'assigns': 2438,
 'impossible': 17774,
 'tasks': 37952,
 'minister': 25038,
 'rishi': 32168,
 'gambhir': 14018,
 'oversmartness': 28071,
 'never': 26652,
 'pays': 28783,
 'learn': 21810,
 'consequences': 7992,
 'cheating': 6813,
 'through': 38556,
 'bengal': 3867,
 'maharashtra': 23133,
 'part': 28549,
 'ii': 17603,
 'animal': 1649,
 'monkeys': 25467,
 'crocodile': 8545,
 'two': 39599,
 'foolishness': 13380,
 'villagers': 40700,
 'encounter': 11631,
 'greatest': 15105,
 'trick': 39294,
 'trickery': 39296,
 'are': 2054,
 'explored': 12333,
 'involving': 18264,
 'inconsiderate': 17844,
 'husband': 17375,
 'greedy': 15111,
 'courtiers': 8341,
 'kind': 20553,
 'man': 23379,
 'loses': 22586,
 'everything': 12157,
 'cult': 8677,
 'independent': 17868,
 'karl': 19927,
 'glusman': 14698,
 'klara': 20709,
 'kristin': 21075,
 'aomi': 1841,
 'muyock': 26020,
 'ugo': 39697,
 'fox': 13515,
 'juan': 19424,
 'saavedra': 32862,
 'gaspar': 14149,
 'isabelle': 18340,
 'nicou': 26771,
 'benot': 3894,
 'debie': 9225,
 'vincent': 40733,
 'maraval': 23589,
 'dborah': 9164,
 'rvy': 32812,
 'love': 22646,
 'unsatisfying': 39982,
 'marriage': 23755,
 'recalls': 31306,
 'details': 9702,
 'intense': 18140,
 'past': 28619,
 'relationship': 31563,
 'exgirlfriend': 12254,
 'he': 16229,
 'gets': 14397,
 'word': 41921,
 'that': 38369,
 'may': 24079,
 'missing': 25173,
 'romantic': 32424,
 'obrien': 27316,
 'katherine': 20032,
 'waterston': 41252,
 'caitlin': 5788,
 'fitzgerald': 13154,
 'gaby': 13907,
 'hoffmann': 16898,
 'louis': 22621,
 'cancelmi': 5927,
 'zach': 42693,
 'grenier': 15152,
 'manhattan': 23454,
 'romance': 32413,
 'filmmaker': 13033,
 'working': 41932,
 'documentary': 10337,
 'modern': 25317,
 'becomes': 3673,
 'personally': 29040,
 'entangled': 11767,
 'subjects': 36903,
 'ron': 32450,
 'perlman': 29001,
 'rupert': 32761,
 'grint': 15207,
 'sheehan': 34677,
 'stephen': 36552,
 'moore': 25543,
 'eric': 11877,
 'lampaert': 21502,
 'bishop': 4380,
 'audenaert': 2609,
 'erika': 11885,
 'sainte': 33030,
 'moonwalkers': 25541,
 'brainaddled': 5047,
 'war': 41150,
 'vet': 40558,
 'failing': 12491,
 'band': 3213,
 'manager': 23386,
 'stanley': 36423,
 'kubrick': 21145,
 'cia': 7247,
 'construct': 8015,
 'epic': 11824,
 'scam': 33648,
 'faking': 12526,
 'moon': 25531,
 'landing': 21527,
 'documentaries': 10336,
 'rolling': 32404,
 'papers': 28424,
 'newspaper': 26692,
 'industry': 17927,
 'hit': 16814,
 'denver': 9554,
 'post': 29834,
 'breaks': 5133,
 'ground': 15259,
 'section': 33955,
 'dedicated': 9295,
 'cannabis': 5952,
 'culture': 8683,
 'horror': 17099,
 'beckinsale': 3668,
 'thewlis': 38434,
 'brendan': 5167,
 'gleeson': 14646,
 'ben': 3834,
 'kingsley': 20575,
 'caine': 5784,
 'jason': 18779,
 'flemyng': 13230,
 'sophie': 35959,
 'kennedy': 20253,
 'clark': 7365,
 'sinad': 35291,
 'cusack': 8743,
 'edmund': 11140,
 'stonehearst': 36654,
 'asylum': 2495,
 'doctor': 10329,
 'arrives': 2221,
 'at': 2496,
 'apprenticeship': 1923,
 'suspicious': 37352,
 'mentors': 24592,
 'methods': 24731,
 'falling': 12541,
 'female': 12856,
 'patient': 28661,
 'nicolas': 26761,
 'cage': 5768,
 'sarah': 33395,
 'paulson': 28738,
 'connie': 7968,
 'nielsen': 26785,
 'wendell': 41420,
 'pierce': 29281,
 'bryan': 5395,
 'batt': 3519,
 'fonda': 13362,
 'dana': 8933,
 'gourrier': 14959,
 'runner': 32740,
 'orleans': 27872,
 'politician': 29668,
 'finds': 13060,
 'idealistic': 17539,
 'plans': 29498,
 'rebuilding': 31298,
 'after': 608,
 'toxic': 39082,
 'oil': 27511,
 'spill': 36192,
 'unraveling': 39966,
 'thanks': 38353,
 'scandal': 33654,
 'taissa': 37668,
 'farmiga': 12636,
 'rosenfield': 32540,
 'lindsay': 22222,
 'burdge': 5558,
 'joshua': 19369,
 'leonard': 21957,
 'lafleur': 21401,
 'vack': 40206,
 'wheelernicholson': 41497,
 'newman': 26683,
 'molly': 25403,
 'mcmichael': 24292,
 'years': 42289,
 'volatile': 40919,
 'have': 16148,
 'been': 3695,
 'together': 38830,
 'six': 35425,
 'approach': 1924,
 'college': 7663,
 'graduation': 15008,
 'unexpected': 39870,
 'career': 6063,
 'opportunities': 27775,
 'threaten': 38532,
 'chaiyapol': 6527,
 'pupart': 30458,
 'jintanutda': 19118,
 'lummakanon': 22796,
 'worrawech': 41960,
 'danuwong': 8996,
 'ornjira': 27881,
 'lamwilai': 21506,
 'yong': 42446,
 'armchair': 2153,
 'keerati': 20170,
 'mahapreukpong': 23128,
 'akarat': 825,
 'nimitchai': 26861,
 'kornpassorn': 20938,
 'duaysianklao': 10779,
 'nattapong': 26389,
 'chartpong': 6728,
 'castle': 6270,
 'stars': 36449,
 'four': 13505,
 'couples': 8328,
 'different': 9973,
 'lifestyles': 22141,
 'go': 14721,
 'ebbs': 11066,
 'flows': 13303,
 'joy': 19400,
 'sorrow': 35989,
 'each': 11010,
 'how': 17190,
 'live': 22322,
 'city': 7318,
 'women': 41856,
 'whove': 41563,
 'sexually': 34387,
 'brutalized': 5388,
 'wartorn': 41210,
 'congo': 7941,
 'begin': 3717,
 'heal': 16248,
 'center': 6435,
 'helps': 16420,
 'them': 38399,
 'regain': 31456,
 'sense': 34169,
 'empowerment': 11600,
 'last': 21626,
 'intimate': 18201,
 'look': 22529,
 'emotionally': 11583,
 'charged': 6680,
 'days': 9157,
 'soontobe': 35944,
 'inmates': 18049,
 'georgias': 14337,
 'gwinnett': 15514,
 'county': 8323,
 'jail': 18619,
 'saharat': 32994,
 'sangkapreecha': 33301,
 'pok': 29626,
 'piyatida': 29462,
 'woramusik': 41919,
 'sutatta': 37361,
 'udomsilp': 39677,
 'athipich': 2518,
 'chutiwatkajornchai': 7240,
 'deuntem': 9727,
 'salitul': 33126,
 'sahajak': 32990,
 'boonthanakit': 4808,
 'laddaland': 21376,
 'moves': 25755,
 'upscale': 40073,
 'housing': 17182,
 'development': 9754,
 'paranormal': 28464,
 'events': 12138,
 'drive': 10719,
 'edge': 11115,
 'insanity': 18077,
 'krasinski': 21026,
 'charlyne': 6707,
 'yi': 42356,
 'sudeikis': 36968,
 'pea': 28794,
 'wu': 42032,
 'gen': 14274,
 'lonely': 22484,
 'mai': 23170,
 'forms': 13452,
 'unlikely': 39935,
 'bond': 4748,
 'topsecret': 38964,
 'embark': 11500,
 'actionpacked': 307,
 'foil': 13340,
 'plot': 29554,
 'vicious': 40596,
 'villain': 40704,
 'shannon': 34549,
 'purser': 30489,
 'kristine': 21077,
 'froseth': 13717,
 'rj': 32235,
 'cyler': 8785,
 'noah': 26961,
 'centineo': 6438,
 'loretta': 22569,
 'devine': 9780,
 'giorgia': 14562,
 'whigham': 41510,
 'alice': 1079,
 'lea': 21782,
 'thompson': 38495,
 'ruck': 32661,
 'mary': 23826,
 'pat': 28631,
 'gleason': 14639,
 'chrissy': 7148,
 'metz': 24740,
 'sierra': 35170,
 'burgess': 5569,
 'loser': 22584,
 'wrongnumber': 42027,
 'text': 38296,
 'sparks': 36107,
 'virtual': 40791,
 'between': 4077,
 'smart': 35617,
 'but': 5656,
 'unpopular': 39960,
 'teen': 38079,
 'sweet': 37458,
 'jock': 19190,
 'thinks': 38463,
 'hes': 16560,
 'talking': 37758,
 'gorgeous': 14902,
 'cheerleader': 6829,
 'mouglalis': 25717,
 'niels': 26784,
 'schneider': 33749,
 'andr': 1556,
 'wilms': 41683,
 'michel': 24797,
 'fau': 12731,
 'sissi': 35384,
 'duparc': 10891,
 'jeanmichel': 18871,
 'balthazar': 3182,
 'julie': 19471,
 'recoing': 31337,
 'godon': 14751,
 'coline': 7639,
 'doll': 10385,
 'most': 25668,
 'assassinated': 2418,
 'woman': 41846,
 'world': 41938,
 'paris': 28504,
 'actress': 320,
 'famous': 12570,
 'gory': 14920,
 'death': 9202,
 'scenes': 33694,
 'grand': 15033,
 'guignol': 15357,
 'theater': 38382,
 'contends': 8042,
 'mysterious': 26051,
 'stalker': 36389,
 'ghosts': 14444,
 'guillaume': 15365,
 'canet': 5947,
 'gallienne': 13995,
 'pol': 29636,
 'franois': 13570,
 'sabine': 32878,
 'azma': 2901,
 'freya': 13656,
 'mavor': 24060,
 'candelier': 5931,
 'laurent': 21688,
 'stocker': 36636,
 'czanne': 8799,
 'et': 12052,
 'moi': 25370,
 'historical': 16807,
 'drama': 10654,
 'explores': 12336,
 'long': 22489,
 'often': 27462,
 'painter': 28234,
 'paul': 28724,
 'writer': 42011,
 'mile': 24926,
 'zola': 42968,
 'met': 24712,
 'schoolboys': 33765,
 'tony': 38933,
 'hale': 15686,
 'rosamund': 32517,
 'pike': 29317,
 'jordan': 19337,
 'fisher': 13129,
 'chelsea': 6844,
 'kane': 19816,
 'adam': 338,
 'pally': 28306,
 'kari': 19913,
 'wahlgren': 41039,
 'archibalds': 2023,
 'big': 4238,
 'thing': 38458,
 'happygolucky': 15900,
 'chicken': 6953,
 'archibald': 2022,
 'not': 27109,
 'remember': 31616,
 'do': 10311,
 'chores': 7125,
 'forgets': 13435,
 'fun': 13808,
 'all': 1121,
 'lifes': 22137,
 'ayushmann': 2869,
 'khurrana': 20433,
 'nassar': 26327,
 'manoj': 23508,
 'pahwa': 28218,
 'kumud': 21194,
 'mishra': 25155,
 'isha': 18349,
 'talwar': 37771,
 'sayani': 33622,
 'gupta': 15445,
 'mohammed': 25353,
 'zeeshan': 42805,
 'ayyub': 2874,
 'subhrajyoti': 36897,
 'barat': 3287,
 'sushil': 37338,
 'pandey': 28351,
 'aakash': 17,
 'dabhade': 8816,
 'article': 2258,
 'grim': 15197,
 'realities': 31244,
 'caste': 6253,
 'discrimination': 10140,
 'come': 7726,
 'light': 22149,
 'entitled': 11794,
 'upright': 40068,
 'cop': 8132,
 'ventures': 40502,
 'indias': 17883,
 'heartland': 16278,
 'investigate': 18236,
 'murder': 25935,
 'subba': 36887,
 'rao': 31048,
 'vepada': 40507,
 'radha': 30739,
 'bessy': 4036,
 'kesava': 20304,
 'karri': 19956,
 'nithyasri': 26926,
 'goru': 14919,
 'karthik': 19965,
 'rathnam': 31115,
 'praneetha': 29953,
 'patnaik': 28673,
 'mohan': 25354,
 'bhagath': 4106,
 'praveena': 29982,
 'paruchuri': 28576,
 'care': 6059,
 'kancharapalem': 19806,
 'middleaged': 24830,
 'bachelors': 2968,
 'office': 27447,
 'spanning': 36097,
 'age': 625,
 'religion': 31588,
 'status': 36480,
 'unfold': 39881,
 'small': 35609,
 'town': 39078,
 'vishwaksen': 40815,
 'naidu': 26147,
 'sushanth': 37335,
 'reddy': 31385,
 'abhinav': 141,
 'gomatam': 14833,
 'venkatesh': 40491,
 'kakumanu': 19706,
 'anisha': 1667,
 'ambrose': 1357,
 'simran': 35282,
 'choudhary': 7128,
 'ee': 11166,
 'nagaraniki': 26115,
 'emaindi': 11488,
 'goa': 14722,
 'desperate': 9673,
 'need': 26510,
 'cash': 6222,
 'childhood': 6986,
 'get': 14391,
 'another': 1730,
 'shot': 34970,
 'making': 23247,
 'longabandoned': 22490,
 'dreams': 10690,
 'becoming': 3674,
 'filmmakers': 13034,
 'true': 39398,
 'murat': 25930,
 'boz': 5011,
 'seda': 33960,
 'bakan': 3093,
 'aelya': 548,
 'topalolu': 38950,
 'zgr': 42858,
 'emre': 11608,
 'yldrm': 42401,
 'gven': 15506,
 'yosi': 42506,
 'mizrahi': 25257,
 'dilad': 9994,
 'imek': 17721,
 'ali': 1070,
 'yourtuolu': 42543,
 'kill': 20507,
 'me': 24334,
 'if': 17566,
 'you': 42510,
 'dare': 9020,
 'bogged': 4656,
 'down': 10594,
 'problems': 30192,
 'grows': 15274,
 'cautious': 6341,
 'other': 27960,
 'lottery': 22606,
 'decide': 9259,
 'stay': 36487,
 'till': 38678,
 'sacha': 32897,
 'baron': 3369,
 'cohen': 7604,
 'emmerich': 11566,
 'hadar': 15575,
 'ratzon': 31143,
 'rotem': 32571,
 ...}

- We can compare the similarity of R1, R2, and R3 by measuring cosine similarity

In [43]:
# The first step, perform tf-idf transformation of all combined data
matrix = vectorizer.transform(netflix_data['combined'])

# Then calculate the similarity between the elements of the matrix
# Similarity matching is using cosine similarity
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(matrix, matrix)

print(similarity)

[[1.         0.00792571 0.01799824 ... 0.01539164 0.01491898 0.04808802]
 [0.00792571 1.         0.02609643 ... 0.00490769 0.01845603 0.01665072]
 [0.01799824 0.02609643 1.         ... 0.00452166 0.01477272 0.02399406]
 ...
 [0.01539164 0.00490769 0.00452166 ... 1.         0.00457891 0.01834289]
 [0.01491898 0.01845603 0.01477272 ... 0.00457891 1.         0.03654792]
 [0.04808802 0.01665072 0.02399406 ... 0.01834289 0.03654792 1.        ]]

In [45]:
last_activity = netflix_data.iloc[[1547]]
last_activity

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,combined
1547,70142542,Movie,Insidious,James Wan,"Patrick Wilson, Rose Byrne, Lin Shaye, Ty Simp...","United States, Canada, United Kingdom","May 9, 2019",2010,PG-13,103 min,"Horror Movies, Thrillers","Hoping to leave their haunted house behind, a ...",horror movies thrillers patrick wilson rose by...

In [47]:
# We look for all cosine similarity comparisons from movie ID 1547
# with other films
similarity_score = similarity[1547]
similarity_score

array([0.02302949, 0.00216619, 0.01264412, ..., 0.0019626 , 0.00608025,
       0.00256333])

- Next, we look for 10 films with the greatest similarity score with IDX 1547

In [48]:
import numpy as np

# Sort the index that has the largest similarity score to the smallest
sorted_index = np.argsort(similarity_score)[::-1]

# Select an index of n recommendations
n = 10
recommend_index = sorted_index[1:n+1]

# Display movies with the selected index
recommend_data = netflix_data.loc[recommend_index]
recommend_data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,combined
2071,80020132,Movie,Monster High: Haunted,"Dan Fraga, William Lau",NaN,United States,"March 24, 2018",2015,TV-Y7,76 min,Children & Family Movies,Hearing that their old school is being haunted...,children family movies nan monster high haunt...
1521,80201827,Movie,Trip to Bhangarh: Asia's Most Haunted Place,Jitender Pawar,"Manish Chaudhary, Suzanna Mukherjee, Piyush Ra...",India,"November 1, 2017",2014,TV-MA,113 min,"International Movies, Thrillers","To amuse themselves, six college friends decid...",international movies thrillers manish chaudhar...
5690,80195378,TV Show,Haunted,NaN,NaN,"United States, Czech Republic","October 11, 2019",2019,TV-MA,2 Seasons,"Reality TV, TV Horror, TV Thrillers",Real people sit down with friends and family t...,reality tv tv horror tv thrillers nan haunted ...
337,80082969,Movie,Delirium,Dennis Iliadis,"Topher Grace, Genesis Rodriguez, Patricia Clar...",United States,"September 1, 2018",2018,R,96 min,"Horror Movies, Thrillers",A man with a history of mental issues moves in...,horror movies thrillers topher grace genesis r...
4760,80184868,Movie,The Black Room,Rolfe Kanefsky,"Natasha Henstridge, Lukas Hassel, Lin Shaye, D...",United States,"August 7, 2017",2016,TV-MA,95 min,Horror Movies,A couple's new dream home morphs into a nightm...,horror movies natasha henstridge lukas hassel ...
803,81003460,Movie,House of the Witch,Alex Merkin,"Emily Bader, Darren Mann, Michelle Randolph, C...",United States,"October 1, 2019",2017,TV-14,86 min,Horror Movies,A group of daring teens finds themselves in a ...,horror movies emily bader darren mann michelle...
4658,81028939,TV Show,Haunted House,NaN,"Jo Hyun-jung, Gim Young-eun, Gim Chae-ha, I So...",NaN,"December 1, 2018",2017,TV-Y7-FV,1 Season,"Kids' TV, Korean TV Shows",With help from a 102-year-old goblin dwelling ...,kids tv korean tv shows jo hyunjung gim younge...
2734,80122189,TV Show,Fear Files... Har Mod Pe Darr,NaN,NaN,India,"June 1, 2017",2015,TV-MA,1 Season,"International TV Shows, TV Horror, TV Thrillers","Possessed lovers, witches, haunted houses and ...",international tv shows tv horror tv thrillers ...
4372,80168161,Movie,Creep 2,Patrick Brice,"Mark Duplass, Desiree Akhavan, Karan Soni",United States,"December 23, 2017",2017,TV-MA,80 min,"Horror Movies, Independent Movies, Thrillers",A video artist finds the perfect character for...,horror movies independent movies thrillers mar...
501,80094648,Movie,I Am the Pretty Thing That Lives in the House,Osgood Perkins,"Ruth Wilson, Bob Balaban, Lucy Boynton, Paula ...","Canada, United States","October 28, 2016",2016,TV-14,89 min,"Horror Movies, International Movies, Thrillers",A nervous nurse who scares easily finds hersel...,horror movies international movies thrillers r...

- Well, this is much better because more and more horror films are becoming recommendations for Insidious films.
- Just make everything into the function

In [55]:
def get_recommend_content_based_tfidf(index, n, similarity, netflix_data):
    # 1. Search for last_activity data based on index
    last_activity = netflix_data.iloc[[index]]

    print('LAST ACTIVITY')
    print('='*20)
    print(last_activity.loc[index])
    print('')

    # 2. Choose an index based on the highest similarity
    similarity_score = similarity[index]

    # Sort the index that has the largest similarity score to the smallest
    sorted_index = np.argsort(similarity_score)[::-1]

    # Select an index of n recommendations
    recommend_index = sorted_index[1:n+1]

    # 3. Filter the data based on the selected index
    recommend_data = netflix_data.loc[recommend_index]

    # 4. Take recommend_data out of the function
    return recommend_data

In [56]:
recommend_data = get_recommend_content_based_tfidf(index = 208,
                                                   n = 10,
                                                   similarity = similarity,
                                                   netflix_data = netflix_data)

print('RECCOMENDATION')
print('='*20)
recommend_data

LAST ACTIVITY
====================
show_id                                                  70117312
type                                                        Movie
title                                 Scott Pilgrim vs. the World
director                                             Edgar Wright
cast            Michael Cera, Mary Elizabeth Winstead, Kieran ...
country              United States, United Kingdom, Canada, Japan
date_added                                     September 16, 2018
release_year                                                 2010
rating                                                      PG-13
duration                                                  112 min
listed_in               Action & Adventure, Comedies, Cult Movies
description     Dreamy delivery girl Ramona captures Scott Pil...
combined        action  adventure comedies cult movies michael...
Name: 208, dtype: object

RECCOMENDATION
====================

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,combined
2957,70262783,Movie,A Glimpse Inside the Mind of Charles Swan III,Roman Coppola,"Charlie Sheen, Jason Schwartzman, Bill Murray,...",United States,"July 15, 2018",2012,R,86 min,"Comedies, Independent Movies",When his girlfriend walks out and leaves him a...,comedies independent movies charlie sheen jaso...
2971,70267439,Movie,The Spectacular Now,James Ponsoldt,"Miles Teller, Shailene Woodley, Brie Larson, J...",United States,"July 15, 2018",2013,R,95 min,"Dramas, Independent Movies, Romantic Movies",Classmates Aimee and Sutter form an unlikely f...,dramas independent movies romantic movies mile...
3511,70042687,Movie,Final Destination 3,James Wong,"Mary Elizabeth Winstead, Ryan Merriman, Kris L...","United States, Germany","January 1, 2020",2006,R,93 min,Horror Movies,When a girl prevents her premonition of a dead...,horror movies mary elizabeth winstead ryan mer...
4976,70026792,Movie,Love on Delivery,Stephen Chow,"Stephen Chow, Christy Chung, Ng Man-Tat",Hong Kong,"August 16, 2018",1994,TV-14,93 min,"Action & Adventure, Comedies, International Mo...","To prove himself to a love interest, a deliver...",action adventure comedies international movie...
2897,70299270,Movie,Life After Beth,Jeff Baena,"Aubrey Plaza, Dane DeHaan, John C. Reilly, Mol...",United States,"July 21, 2018",2014,R,89 min,"Comedies, Horror Movies, Independent Movies","Following the death of his beloved girlfriend,...",comedies horror movies independent movies aubr...
3596,70117902,Movie,Up in the Air,Jason Reitman,"George Clooney, Vera Farmiga, Anna Kendrick, J...",United States,"January 1, 2020",2009,R,110 min,"Comedies, Dramas, Romantic Movies",Ryan Bingham flies around the country firing e...,comedies dramas romantic movies george clooney...
619,80039069,Movie,Sleeping with Other People,Leslye Headland,"Jason Sudeikis, Alison Brie, Adam Scott, Jason...",United States,"October 2, 2017",2015,R,101 min,"Comedies, Dramas, Independent Movies","Many years after hooking up in college, two pe...",comedies dramas independent movies jason sudei...
5177,70222860,Movie,Movie 43,"Peter Farrelly, Will Graham, Steve Carr, Griff...","Greg Kinnear, Dennis Quaid, Common, Seth MacFa...",United States,"April 9, 2019",2013,R,94 min,Comedies,An eye-popping cast stars in this sketch-comed...,comedies greg kinnear dennis quaid common seth...
4370,80171023,Movie,The Little Hours,Jeff Baena,"Alison Brie, Dave Franco, Kate Micucci, Aubrey...","Canada, United States","December 23, 2018",2017,R,89 min,"Comedies, Independent Movies",Life at a convent takes an unruly turn when th...,comedies independent movies alison brie dave f...
1828,70270364,Movie,Snowpiercer,Bong Joon Ho,"Chris Evans, Song Kang-ho, Ed Harris, John Hur...","South Korea, Czech Republic","May 1, 2019",2013,R,126 min,"Action & Adventure, Cult Movies, International...",The Earth's remaining inhabitants are confined...,action adventure cult movies international mo...

# It's a Wrap!

Congratulations! You've reached the end of this Netflix content recommendation notebook. üéâ

Let's recap the journey:

1. **Data Preparation**: We started by cleaning and preparing our Netflix dataset, including normalizing text columns and creating a combined feature for TF-IDF.

2. **TF-IDF Transformation**: We used TF-IDF to transform our text data into numerical vectors, capturing the importance of words in each document.

3. **Content-Based Recommendation**: Leveraging cosine similarity, we created a function to recommend similar Netflix titles based on user preferences.

4. **Exploration and Visualization**: Throughout the notebook, we explored various aspects of the dataset and visualized insights using Matplotlib and Seaborn.

5. **Fun Fact**: Did you know? Netflix was founded in 1997 and originally offered DVD rentals by mail. It introduced streaming services in 2007, forever changing the way we watch TV shows and movies.

Thank you for joining me on this data exploration and recommendation adventure. I hope you enjoyed it as much as I did! Feel free to experiment further with the code and dataset to uncover more insights.

Happy coding and binge-watching! üçøüì∫