In [2]:
import pandas as pd

In [3]:
rating_data = pd.read_csv('ratings.csv')

rating_data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
min_ratings = 5         # minimum number of ratings each movieId receives
min_user_ratings = 5    # minimum number of movieIds given a rating by the user

In [5]:
# Look for movieIds whose total ratings are > min_ratings
cond_movie = rating_data['movieId'].value_counts() > min_ratings

# Output the filtered movie_id
filtered_movie_id = (
     cond_movie[cond_movie] # 1. filter movieId that meets the conditions above
     .index                 # 2. extract its movieId (its index)
     .tolist()              # 3. then save it in a list
)

In [6]:
cond_user = rating_data['userId'].value_counts() > min_user_ratings

# Output the filtered movie_id
filtered_user_id = (
     cond_user[cond_user] # 1. filter userIds that meet the conditions above
     .index               # 2. extract its userId (its index)
     .tolist()            # 3. then save it in a list
)

In [7]:
# Create the final dataset based on the conditions above
rating_data_final = (
     rating_data[                                         # Filter rating data complies
         (rating_data['movieId'].isin(filtered_movie_id)) # cond 1: corresponding movie Id filtered_movie_id
         &                                                # AND
         (rating_data['userId'].isin(filtered_user_id))   # cond 2: corresponding user Id filtered_user_id
     ]
)

rating_data_final

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100830     610   166528     4.0  1493879365
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352

[88364 rows x 4 columns]

In [59]:
from surprise import Dataset, Reader
from surprise.model_selection import cross_validate
from surprise.prediction_algorithms import SVD, KNNBasic, CoClustering, SlopeOne, KNNBaseline
from sklearn.metrics import average_precision_score

In [10]:
# Create a reader object
reader = Reader(rating_scale=(1, 5)) # Define the rating scale. We use a scale of 1-5

# Create a data object
# This object was created to enable cross-validation of the model
data = Dataset.load_from_df(df = rating_data_final[['userId', 'movieId', 'rating']], # Insert data
                             reader = reader)

In [60]:
# Initialize algorithms
algorithms = [
    SVD(),
    KNNBasic(),
    KNNBaseline(),
    CoClustering(),
    SlopeOne()
]

In [61]:
# Define a list to store results
results_list = []

In [62]:
# Define a cross-validation procedure for each number of folds
for cv_value in [5, 10]:
    for algo in algorithms:
        results = cross_validate(algo, data, measures=['RMSE', 'MAE'],
                                 cv=cv_value, verbose=True, n_jobs=-1, return_train_measures=True)

        # Store results in list
        results_list.append({
            'Algorithm': algo.__class__.__name__,
            'cv': cv_value,
            'RMSE': sum(results['test_rmse']) / len(results['test_rmse']),
            'Fit Time': sum(results['fit_time']) / len(results['fit_time']),
            'Train Time': sum(results['test_time']) / len(results['test_time']),
            'Test Time': sum(results['test_time']) / len(results['test_time']),
            'Predict Time': sum(results['test_time']) / len(results['test_time']),
            'Precision': sum(results['test_rmse']) / len(results['test_rmse']),
            'Recall': sum(results['test_mae']) / len(results['test_mae'])
        })

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8548  0.8613  0.8613  0.8529  0.8562  0.8573  0.0034
MAE (testset)     0.6564  0.6601  0.6574  0.6555  0.6576  0.6574  0.0015
RMSE (trainset)   0.6338  0.6328  0.6339  0.6345  0.6347  0.6339  0.0007
MAE (trainset)    0.4912  0.4896  0.4916  0.4911  0.4918  0.4911  0.0008
Fit time          0.53    0.53    0.51    0.52    0.53    0.52    0.01
Test time         0.16    0.15    0.12    0.10    0.10    0.13    0.02
Evaluating RMSE, MAE of algorithm KNNBasic on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9184  0.9137  0.9194  0.9036  0.9097  0.9130  0.0058
MAE (testset)     0.7044  0.7034  0.7050  0.6949  0.7003  0.7016  0.0037
RMSE (trainset)   0.7453  0.7469  0.7464  0.7477  0.7462  0.7465  0.0008
MAE (trainset)    0.5714  0.5725  0.5717  0.5732  0.5721  0.5722  0.0006
Fit time          0.14    0.15    0.17    0.14    0.14    0.15    0.01
Test time         0.94    1.01    1.05    0.98    0.98    0.99    0.04
Evaluating RMSE, MAE of algorithm KNNBaseline on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8515  0.8546  0.8428  0.8450  0.8409  0.8470  0.0052
MAE (testset)     0.6492  0.6545  0.6445  0.6477  0.6440  0.6480  0.0038
RMSE (trainset)   0.6968  0.6960  0.6990  0.6986  0.6990  0.6979  0.0012
MAE (trainset)    0.5312  0.5302  0.5323  0.5323  0.5326  0.5317  0.0009
Fit time          0.24    0.25    0.24    0.22    0.21    0.23    0.02
Test time         1.89    1.95    1.95    2.00    1.95    1.95    0.04
Evaluating RMSE, MAE of algorithm CoClustering on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9123  0.9060  0.9061  0.9179  0.9095  0.9103  0.0044
MAE (testset)     0.7115  0.7058  0.7072  0.7165  0.7081  0.7098  0.0038
RMSE (trainset)   0.8292  0.8304  0.8312  0.8300  0.8302  0.8302  0.0007
MAE (trainset)    0.6460  0.6479  0.6478  0.6473  0.6480  0.6474  0.0008
Fit time          1.28    1.34    1.31    1.32    1.28    1.31    0.02
Test time         0.12    0.13    0.10    0.12    0.12    0.12    0.01
Evaluating RMSE, MAE of algorithm SlopeOne on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8655  0.8617  0.8647  0.8663  0.8592  0.8635  0.0026
MAE (testset)     0.6618  0.6590  0.6607  0.6630  0.6606  0.6610  0.0014
RMSE (trainset)   0.6632  0.6643  0.6653  0.6629  0.6652  0.6642  0.0010
MAE (trainset)    0.5000  0.5010  0.5012  0.4997  0.5006  0.5005  0.0006
Fit time          1.48    1.49    1.52    1.51    1.51    1.50    0.02
Test time         3.25    3.15    3.05    3.12    3.33    3.18    0.10
Evaluating RMSE, MAE of algorithm SVD on 10 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Fold 6  Fold 7  Fold 8  Fold 9  Fold 10 Mean    Std
RMSE (testset)    0.8453  0.8697  0.8624  0.8360  0.8530  0.8408  0.8495  0.8557  0.8434  0.8460  0.8502  0.0097
MAE (testset)     0.6439  0.6680  0.6588  0.6454  0.6531  0.6459  0.6488  0.6548  0.6438  0.6508  0.6513  0.0073
RMSE (trainset)   0.6312  0.6262  0.6303  0.6318  0.6328  0.6325  0.6323  0.6305  0.6331  0.6310  0.6312  0.0019
MAE (trainset)    0.4890  0.4851  0.4886  0.4894  0.4901  0.4898  0.4899  0.4887  0.4906  0.4884  0.4890  0.0015
Fit time          0.79    0.98    1.05    1.14    1.20    1.19    1.21    1.19    1.11    1.08    1.09    0.12
Test time         0.10    0.10    0.11    0.08    0.07    0.08    0.10    0.09    0.07    0.09    0.09    0.01
Evaluating RMSE, MAE of algorithm KNNBasic on 10 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Fold 6  Fold 7  Fold 8  Fold 9  Fold 10 Mean    Std
RMSE (testset)    0.9089  0.9221  0.9067  0.8994  0.9025  0.9053  0.9039  0.9101  0.9018  0.9118  0.9072  0.0062
MAE (testset)     0.6974  0.7008  0.6971  0.6935  0.6935  0.6970  0.6982  0.6977  0.6905  0.7048  0.6970  0.0038
RMSE (trainset)   0.7535  0.7530  0.7544  0.7542  0.7540  0.7545  0.7540  0.7525  0.7544  0.7531  0.7538  0.0007
MAE (trainset)    0.5774  0.5775  0.5782  0.5783  0.5778  0.5781  0.5775  0.5771  0.5784  0.5770  0.5778  0.0005
Fit time          0.18    0.20    0.22    0.20    0.24    0.27    0.29    0.29    0.28    0.25    0.24    0.04
Test time         0.62    0.65    0.71    0.69    0.70    0.75    0.73    0.75    0.75    0.80    0.72    0.05
Evaluating RMSE, MAE of algorithm KNNBaseline on 10 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Fold 6  Fold 7  Fold 8  Fold 9  Fold 10 Mean    Std
RMSE (testset)    0.8446  0.8503  0.8342  0.8406  0.8357  0.8545  0.8426  0.8396  0.8528  0.8388  0.8434  0.0067
MAE (testset)     0.6462  0.6541  0.6372  0.6420  0.6415  0.6494  0.6447  0.6410  0.6508  0.6395  0.6446  0.0051
RMSE (trainset)   0.7056  0.7051  0.7062  0.7062  0.7062  0.7049  0.7052  0.7056  0.7042  0.7058  0.7055  0.0006
MAE (trainset)    0.5379  0.5373  0.5384  0.5385  0.5382  0.5379  0.5375  0.5378  0.5368  0.5379  0.5378  0.0005
Fit time          0.33    0.37    0.38    0.39    0.40    0.43    0.41    0.38    0.36    0.34    0.38    0.03
Test time         1.01    1.08    1.05    1.18    1.15    1.20    1.22    1.26    1.37    1.33    1.18    0.11
Evaluating RMSE, MAE of algorithm CoClustering on 10 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Fold 6  Fold 7  Fold 8  Fold 9  Fold 10 Mean    Std
RMSE (testset)    0.9035  0.9033  0.9078  0.9124  0.8986  0.9097  0.8920  0.9048  0.9242  0.8952  0.9051  0.0087
MAE (testset)     0.7042  0.7033  0.7036  0.7113  0.7014  0.7044  0.7001  0.7050  0.7138  0.6996  0.7047  0.0043
RMSE (trainset)   0.8329  0.8343  0.8327  0.8326  0.8328  0.8283  0.8307  0.8324  0.8284  0.8325  0.8318  0.0019
MAE (trainset)    0.6495  0.6506  0.6490  0.6492  0.6495  0.6458  0.6470  0.6483  0.6458  0.6492  0.6484  0.0016
Fit time          1.53    1.58    1.61    1.62    1.62    1.66    1.66    1.70    1.77    1.76    1.65    0.07
Test time         0.10    0.06    0.07    0.07    0.06    0.08    0.11    0.10    0.09    0.07    0.08    0.02
Evaluating RMSE, MAE of algorithm SlopeOne on 10 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Fold 6  Fold 7  Fold 8  Fold 9  Fold 10 Mean    Std
RMSE (testset)    0.8526  0.8514  0.8630  0.8563  0.8585  0.8733  0.8571  0.8672  0.8605  0.8551  0.8595  0.0064
MAE (testset)     0.6516  0.6505  0.6567  0.6544  0.6548  0.6670  0.6591  0.6615  0.6592  0.6576  0.6572  0.0046
RMSE (trainset)   0.6905  0.6923  0.6904  0.6914  0.6904  0.6901  0.6905  0.6908  0.6913  0.6913  0.6909  0.0006
MAE (trainset)    0.5225  0.5231  0.5226  0.5229  0.5221  0.5218  0.5220  0.5221  0.5225  0.5223  0.5224  0.0004
Fit time          2.45    2.48    2.62    2.64    2.75    2.80    2.78    2.75    2.77    2.70    2.68    0.12
Test time         2.43    2.44    2.46    2.46    2.44    2.47    2.45    2.40    2.41    2.40    2.44    0.02

In [63]:
results_df = pd.DataFrame(results_list)

In [64]:
results_df

,Algorithm,cv,RMSE,Fit Time,Train Time,Test Time,Predict Time,Precision,Recall
0,SVD,5,0.857321,0.524266,0.126130,0.126130,0.126130,0.857321,0.657380
1,KNNBasic,5,0.912959,0.149047,0.992916,0.992916,0.992916,0.912959,0.701611
2,KNNBaseline,5,0.846976,0.231621,1.947362,1.947362,1.947362,0.846976,0.647977
3,CoClustering,5,0.910348,1.307280,0.116544,0.116544,0.116544,0.910348,0.709840
4,SlopeOne,5,0.863492,1.500722,3.179255,3.179255,3.179255,0.863492,0.661019
5,SVD,10,0.850185,1.092703,0.088182,0.088182,0.088182,0.850185,0.651330
6,KNNBasic,10,0.907249,0.242410,0.715679,0.715679,0.715679,0.907249,0.697047
7,KNNBaseline,10,0.843373,0.378880,1.183878,1.183878,1.183878,0.843373,0.644632
8,CoClustering,10,0.905142,1.649803,0.082097,0.082097,0.082097,0.905142,0.704658
9,SlopeOne,10,0.859503,2.675148,2.436526,2.436526,2.436526,0.859503,0.657234

In [65]:
sorted_results_df = results_df.sort_values(by='RMSE', ascending=True)
sorted_results_df

,Algorithm,cv,RMSE,Fit Time,Train Time,Test Time,Predict Time,Precision,Recall
7,KNNBaseline,10,0.843373,0.378880,1.183878,1.183878,1.183878,0.843373,0.644632
2,KNNBaseline,5,0.846976,0.231621,1.947362,1.947362,1.947362,0.846976,0.647977
5,SVD,10,0.850185,1.092703,0.088182,0.088182,0.088182,0.850185,0.651330
0,SVD,5,0.857321,0.524266,0.126130,0.126130,0.126130,0.857321,0.657380
9,SlopeOne,10,0.859503,2.675148,2.436526,2.436526,2.436526,0.859503,0.657234
4,SlopeOne,5,0.863492,1.500722,3.179255,3.179255,3.179255,0.863492,0.661019
8,CoClustering,10,0.905142,1.649803,0.082097,0.082097,0.082097,0.905142,0.704658
6,KNNBasic,10,0.907249,0.242410,0.715679,0.715679,0.715679,0.907249,0.697047
3,CoClustering,5,0.910348,1.307280,0.116544,0.116544,0.116544,0.910348,0.709840
1,KNNBasic,5,0.912959,0.149047,0.992916,0.992916,0.992916,0.912959,0.701611